h1 {
    color:blue
}
p {
    color:green
}
body {
    background: lightgrey
}
section {
    background: orange
}
.hotpink-header {
    color:slategrey;
}
#top {
    background: rgb(0, 214, 252);
}
nav a {
    color: black;
}
section a {
    color: lightseagreen;
}